.root {
    text-align: center;
    padding: 100px;

    span {
        font-size: 75px;
    }
}

.description {
    font-size: 18px;
    line-height: 145.4%;
    text-align: center;
    letter-spacing: 0.01em;
    color: #777777;
}
